@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&family=Vampiro+One&display=swap');
@import "tailwindcss";
@tailwind utilities;

.font-vampiro {
    font-family: 'Vampiro One', cursive;
}

.active {
    color: #7051EF;
    font-weight: bold;
}

.gradient-text {
    background: linear-gradient(to right, #8D74F2, #7051EF);
    -webkit-background-clip: text;
    background-clip: text;
    color: transparent;
}

body {
    font-family: 'Roboto', sans-serif;
    background-image:
        /* Left edge vertical ellipses */
            radial-gradient(
                    ellipse 200px 240px at left center,
                    transparent 140px,
                    rgba(216, 180, 254, 0.6) 140px,
                    rgba(216, 180, 254, 0.6) 160px,
                    transparent 160px
            ),
                /* Right edge vertical ellipses */
            radial-gradient(
                    ellipse 200px 240px at right center,
                    transparent 140px,
                    rgba(216, 180, 254, 0.6) 140px,
                    rgba(216, 180, 254, 0.6) 160px,
                    transparent 160px
            );

    background-size: 100% 1000px;
    background-position:
            0 0,
            0 300px;
    background-repeat: repeat-y;
}